.age_box{
  height: 50px;
  width: 100%;
  background-color: lightsteelblue;
}

.use_icon{
  margin: 50px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .box{
//   height: 300px;
//   width: 500px;
//   background-color: skyblue;
//   opacity:0.5;
//   margin-left: 50px;
//   // margin:  0 auto;
// }
// .box_inner{
//   height: 250px;
//   width: 400px;
//   background-color: lightgreen;
//   opacity:0.5;
//   margin-left: 50px;
//   // margin:  0 auto;
// }