.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    .ages
      -# - @ages.each do |age|
        -# = age.age
        -# = age.season
        %br