.wrapper
  .background_image
    .main_header
      = link_to "Product managementS",root_path, class: 'top_page_link'
    

    .login_user
    - if user_signed_in?
      ="#{current_user.name}さん"
    .login
      - unless user_signed_in?
        .not_login 
          = link_to "ログインしてください", new_user_session_path, class:"login"
      - else
        .log_in 
          = link_to"ログアウト", destroy_user_session_path, method: :delete, class:"logout"
    .main_contents
      .product_manegement
        %i.fas.fa-tshirt
        product_management
        .product_manegement__registration
          =link_to "商品登録",  new_product_manegement_path, class:"product_manegement_regi"
        .product_manegement__list
          =link_to "販売商品一覧", registration_product_manegements_path, class:"product_manegement_list"
        .product_manegement__list__all
          =link_to "全商品一覧", all_product_manegements_path, class:"product_manegement_list__all"

      .sales
        %i.fas.fa-money-check-alt
        sales
        -# .sales__registration
          -# =link_to "売り上げ登録", sales_path, class:"sales_regi"
        .sales__list
          =link_to "販売履歴一覧", sales_path, class:"sales_list"
      .age
        %i.fas.fa-search-plus
        age
        .age__list
          =link_to "年代検索", ages_path, class:"age_list"
  