.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    

    .login_user
    - if user_signed_in?
      ="#{current_user.name}さん"
    .login.box
      - unless user_signed_in?
        .not_login 
          = link_to "ログインしてください", new_user_session_path, class:"login"
      - else
        .log_in 
          = link_to"ログアウト", destroy_user_session_path, method: :delete, class:"logout"
    .main_contents
      .product_manegement
        %i.fas.fa-tshirt
        =link_to "product_manegement", new_product_manegement_path, class:"product_manegement"
      .sales
        %i.fas.fa-money-check-alt
        =link_to "sales", product_manegements_sales_path, class:"sales"
      .age
        %i.fas.fa-search-plus
        =link_to "age", product_manegements_age_path, class:"age"
  