.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    -# = form_for @product,:url => {:action => :create} do |f|
    = form_for @product, url: product_manegements_path do |f|
      -# .stock_1
      -#   .arrival_day
      -#     入荷日
      -#     = f.date_field :arrival, class: "arrival_day_from", size: "35"
      -#   .successful_bid
      -#     落札した商品名
      -#     =f.text_field :successful_bid, class: "successful_bidd_from",placeholder: "", size: "35"
      -#   .product_name
      -#     出品名
      -#     =f.text_field :product_name, class: "exhibition_name_from",placeholder: "",maxlength: "" , size: "35"
      -#   .exhibition_price
      -#     出品価格
      -#     =f.text_field :product_price, class: "exhibition_price_from",placeholder: "",maxlength: "8", size: "10"
      -# .stock_2
      -#   .stocking_place
      -#     仕入先
      -#     =f.select :stock,Stock.all.collect { |p| [ p.place, p.id ] }, prompt: "---"
      -#   .unit_price
      -#     単品単価
      -#     =f.text_field :unit_price, class: "unit_priced_from",placeholder: "",maxlength: "", size: "10"
      -#   .shipping_fee
      -#     負担した送料
      -#   .total_price
      -#     =f.text_field :shipping_fee, class: "shipping_feed_from",placeholder: "",maxlength: "", size: "10"
      -#     仕入合計
      -#     =f.text_field :total_price, class: "total_price_from",placeholder: "",maxlength: "", size: "10"
      -# .button  
      -#   = f.submit "商品登録!", class: "product_button"

      .main_content 
        %table
          %tr
            %th 入荷日
            %th 落札した商品名
            %th 出品名
            %th 出品価格
            %th 仕入先
            %th 落札価格
            %th 負担した送料
            %th 合計仕入れ金額
            %tr
              %td
                = f.date_field :arrival, class: "arrival_day_from", style: "border: none"
              %td 
                =f.text_field :successful_bid, class: "successful_bidd_from",placeholder: "", style: "border: none"
              %td
                =f.text_field :product_name, class: "exhibition_name_from",placeholder: "",maxlength: "" , style: "border: none"
              %td
                =f.text_field :product_price, class: "exhibition_price_from",placeholder: "",maxlength: "8", style: "border: none"
              %td
                =f.select :stock,Stock.all.collect { |p| [ p.place, p.id ] }, prompt: "---", style: "border: none"
              %td 
                =f.text_field :unit_price, class: "unit_priced_from",placeholder: "",maxlength: "", style: "border: none"
              %td 
                =f.text_field :shipping_fee, class: "shipping_feed_from",placeholder: "",maxlength: "", style: "border: none"
              %td 
                =f.text_field :total_price, class: "total_price_from",placeholder: "",maxlength: "", style: "border: none"
        .button  
          = f.submit "商品登録!", class: "product_button"