.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    .main_contents
      .product_manegement
        %i.fas.fa-tshirt
        =link_to "product_manegement", product_manegements_product_manegement_path, class:"product_manegement"
      .sales
        %i.fas.fa-money-check-alt
        =link_to "sales", product_manegements_sales_path, class:"sales"
      .age
        %i.fas.fa-search-plus
        =link_to "age", product_manegements_age_path, class:"age"