.wrapper
  .background_image_3
    .main_header
      = link_to "Product managementS",root_path, class: 'top_page_link'
    
    = form_tag  ages_search_ages_path, method: :get, class:'use_icon'  do
      %input{:placeholder => " 検索する", :type => "search",name: "keyword"}
    .search_img
      = image_tag 'misyakeike.jpg', class:"forest"