.age_box{
  height: 50px;
  width: 100%;
  background-color: lightsteelblue;
}

.use_icon{
  display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}