.main_header{
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: white;
  // background-color: lightgrey;
  }

  .main_contents{
    display: flex;
    justify-content: center;
  }

  .product_manegement{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: burlywood;
    text-decoration: none;
  }
  
  .sales{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: burlywood;
    text-decoration: none;
  }
  .age{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: burlywood;
    text-decoration: none;
  }