.wrapper{
  height: 100vh;
  width: 100%;
}
.background_image{
  height: 100%;
  width: 100%;
  background-image: url("concrete.jpg");
  background-size: contain;
}
.background_image_2{
  height: 100%;
  width: 100%;
  background-image: url("art-deco.jpg");
  background-size: contain;
}

.login_user{

}

.login.box{
  height: 20px;
  width: 80px;
  // background-color: rgba(0,0,0,0.15);
}
.login,
.logout{ 
  text-decoration: none;
}

.product_manegement{
  &:hover{
    .product_manegement__registration{
      visibility: visible;
    }
    .product_manegement__list{
      visibility: visible;
    }
    .product_manegement_list__all{
      visibility: visible;
    }
  }
  .product_manegement__registration{
    visibility: hidden;
  }
  .product_manegement__list{
    visibility: hidden;
  }
  .product_manegement_list__all{
    visibility: hidden;
  }
}
.sales{
  &:hover{
    .sales__registration{
      visibility: visible;
    }
    .sales__list{
      visibility: visible;
    }
  }
  .sales__registration{
    visibility: hidden;
  }
  .sales__list{
    visibility: hidden;
  }
}
.age{
  &:hover{
    .age__list{
      visibility: visible;
    }
  }
  .age__list{
    visibility: hidden;
  }
}

.product_manegement_regi,
.product_manegement_list,
.product_manegement_list__all,
.sales_regi,
.sales_list,
.age_list{
  height: 70px;
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: white;
}