.stock_1{
  display: flex;
  justify-content: space-evenly;
  height: 250px;
}
.stock_2{
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}


.arrival_day{
  height: 20px;
  width: 70px;
}

.successful_bid{
  height: 20px;
  width: 140px;
}

.exhibition_name{
  height: 20px;
  width: 140px;
}
.exhibition_price{
  height: 20px;
  width: 140px;
}
.stocking_place{
  height: 20px;
  width: 140px;
}
.unit_price{
  height: 20px;
  width: 140px;
}
.shipping_fee{
  height: 20px;
  width: 140px;
}
.total_price{
  height: 20px;
  width: 140px;
}
.button{
  height: 30px;
  width: 200px;
  float: right;
}
// .product_button{
//   background-color: $wood;
//   color: white;
//   border: none;
// }