.all_btn{
  display: flex;
  justify-content: center;
}

.return_btn{
  display: block;
  height: 50px;
  width: 200px;
  margin-right: 100px;
}

.sold_btn{
  height: 50px;
  width: 200px;
}
.edit_btn{
  height: 50px;
  width: 200px;
  margin-right: 100px;
  margin-left: 100px;
}
.delete_btn{
  height: 50px;
  width: 200px;
}