.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    
    = form_for @product, url: product_manegement_path(@product.id), method: :patch do |f|
      .main_content 
        %table
          %tr
            %th 入荷日
            %th 落札した商品名
            %th 出品名
            %th 出品価格
            %th 仕入先
            %th 落札価格
            %th 負担した送料
            %th 合計仕入れ金額
            %tr
              %td
                = f.date_field :arrival, class: "arrival_day_from", style: "border: none"
              %td 
                =f.text_field :successful_bid, class: "successful_bidd_from",placeholder: "", style: "border: none"
              %td
                =f.text_field :product_name, class: "exhibition_name_from",placeholder: "",maxlength: "" , style: "border: none"
              %td
                =f.text_field :product_price, class: "exhibition_price_from",placeholder: "",maxlength: "8", style: "border: none"
              %td
                =f.select :stock,Stock.all.collect { |p| [ p.place, p.id ] }, prompt: "---", style: "border: none"
              %td 
                =f.text_field :unit_price, class: "unit_priced_from",placeholder: "",maxlength: "", style: "border: none"
              %td 
                =f.text_field :shipping_fee, class: "shipping_feed_from",placeholder: "",maxlength: "", style: "border: none"
              %td 
                =f.text_field :total_price, class: "total_price_from",placeholder: "",maxlength: "", style: "border: none"
      -# .button  
      -#   = f.submit "編集完了!", class: "product_button"

      .all_btn
        .sold
          %button.return_btn 
            =link_to "戻る", registration_product_manegements_path, class:"btn"
        .edit
          %button.edit_btn 
            -# =link_to "編集完了",  product_manegement_path, method: :put, class:"btn"
            = f.submit "編集完了!", class: "product_button"
        .coment
