.sign_up,
.field{
  // text-align: center;
  &__upper{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 30px;
    padding: 10px;
    border-bottom: medium solid #444444;
  }
}
em{
  color: white;
  margin-left: 10px;
  background-color: #23977F;
}
.email,
.password,
.name{
  margin-left: 30px;
  font-size: 18px;
  color: white;
  }

.email_form,
.new-password_form,
.name_form{
  margin: 10px 30px 30px 30px;
  padding: 10px;
  width: 500px;
  &:hover{
    cursor: pointer;
    border: 2px solid #e88500;
    background-color: #d4b78e;
  }
}

.submit{
  margin: 10px 30px 30px 30px;
  padding: 10px;
  height: 50px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  background-color: #49722C;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}